# Secrets
.env
.env.*
!.env.example

# Node / NestJS
node_modules/
dist/
coverage/
*.tsbuildinfo

# Flutter / Dart
.dart_tool/
.pub/
.pub-cache/
**/build/
**/doc/api/
*.iml
**/.flutter-plugins-dependencies
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/.gradle/

# Python
**/.venv/
**/__pycache__/
*.pyc
backend/**/venv/

# Modèles IA lourds
ai/models/*.joblib

# OS
.DS_Store
__MACOSX/
Thumbs.db
*.log
*.swp
.idea/
.vscode/